*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body{
    background-color:rgba(14, 14, 14, 0.99)
}
.main_principal{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100vh;
}

   
.main_principal img{
    height: 40rem;
    width: 40rem;
    margin-left:20px;
    
}

.main_parrafo{
    text-align: center;
    margin-left: 2rem;
    color: white;
    line-height: 2;
    font-weight: bolder;
    font-size: 1.7rem;
    font-family: 'Mukta', sans-serif;
    padding: 40px 40px;
    
    
}


/*pagina fotos*/

.bodyFotos{
    height: 100vh;
}

.fotos_parrafo{
    margin-top: 70px;
    margin-bottom: 10px;
    text-align: center;
}

.fotos_parrafo h2{
    font-size: 3rem;
    color: aliceblue;
}
.fotos_contenedor{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}
.fotos_contenedor img{
 width: 100%;
 margin-top: 30px;
 opacity: 0.7; 
}

.fotos_contenedor_timon{
    flex: 25%;
    padding: 5px;
    
}

.fotos_contenedor_timon img:hover{
    opacity: 1;
    border: 2px solid wheat;
}

@media (max-width:600px){
    .fotos_contenedor{
        flex: 100%;
        padding: 5px;

    }
}
    
@media (max-width:800px){
    .fotos_contenedor{
        flex: 50%;
        padding: 5px;

    }
}

/*pagina about me */
.bodyaboutme{
    background-color:rgba(14, 14, 14, 0.99);
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid wheat;
    text-align: center;
    margin-top: 70px;
    width:800px;
    height: 500px;
    border-radius: 4px;
    background-color: aliceblue;
}


.container img{
    height: 450px;
    width:auto ;
    border-radius: 10px;
    box-shadow: 0px 4px 5px green;
}
/*footer*/

.footer_lista{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    list-style: none;
    background-color:#707b7c88;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer_lista a{
    text-decoration: none;
    color: black;
    
}
/*hobbi*/


#padre{
    display: grid;
    grid-template-areas: "header header"
                         "hobbies carousel"
                         "footer  footer";
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 10% 2fr 10%;
    height: 100vh;
    gap: 10px;
    justify-items:center;
    align-items:center;
}

.headerHobbies{
    grid-area: header;
}

.hobbies{
    grid-area: hobbies;
    font-size: 1.5rem;
    color: antiquewhite;
    text-align:center;
    padding: 20px 20px;
    
}

.carousel{
    grid-area: carousel ;
    height: 500px;
    width: 500px;
    

}

.carousel  img{
    height: 500px;
    width: 500px;
}



.footer_hobbies{
    grid-area: footer;
    width: 100%;
}

.footer_hobbies_lista {
    display:flex;
    justify-content: space-between;
    align-content:center;
    list-style: none;
    background-color: #707b7c88;
}
.footer_hobbies_lista a{
    text-decoration: none;
    text-align: center;
    padding: 20px 20px;
}

@media (max-width:600px){
    #padre{
        display: grid;
        grid-template-areas: "header "
                             "hobbies"
                              "carousel"
                             "footer";
        grid-template-columns: 3fr;
        grid-template-rows: 10% 2fr 2fr 10%;
        height: 100vh;
        gap: 3px;
        justify-items:center;
        align-items:center;
    }

    .carousel{
        grid-area: carousel ;
        height: 200px;
        width: 200px;
        
    
    }
    
    .carousel  img{
        height: 200px;
        width: 200px;
    }
    

}

@media (max-width:800px){
        .fotos_contenedor{
            flex: 50%;
            padding: 5px;
    
        }

    }



